.remove {
    cursor: pointer;
    color: red;
}

.eye {
    position: relative;
    top: 6px;
    left: 40%;
    font-size: 18px;
}

.accept {
    margin-right: 5px;
}

.pencil-color {
    color: #00cc5d;
    margin-left: 10px;
    cursor: pointer;
}

.trash-color {
    color: #e52c2c;
    margin-left: 15px;
    cursor: pointer;
}
.upload-icon-wrapper {
    display: inline-block;
}
.hidden {
    display: none;
}
